/* style for my resume */

body {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 1em;
  color: #808080;
  font-weight: 400;
}

/* my name */
#name{
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: capitalize;
}

div {
  border: 1px solid #33485e;
  border-width: 60, 300px
}

/* photo of me */
img {
  /* src="IMG_6468.jpg" width="300px" */
}

/* title */
strong {
  text-transform: capitalize;
  font-size: 1.5em;
  color: #33485e;
}

/* Section titles */
.sectionheader{
  font-size: 1.5em;
  text-transform: capitalize;
  background-color: #33485e;
  color: #FFFFFF;
  font-weight: 400;
}

/* Job Titles */
.jobtitle{
  font-weight: 600;
  font-size: 1.5em;
}

/* Organization */
.Organization{
  font-weight: 400;
  font-size: 1.5em;
}

/* Job Dates */
.date{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}

/* Lists */
ul {
  font-size: 1em;
}
