/* style for my resume */

body {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 1em;
  color: #808080;
  font-weight: 400;
}
/* my name */
h1 {
  font-size: 3em;
  color: #33485e
  text-transform:capitalize;
  text-align: center;
  text-transform: capitalize;
}
/* photo of me */
img {
  /* get rid of this bro */
}
/* title */
strong {
  text-transform: capitalize;
  font-size: 1.5em;
  color: #33485e
}

/* Section titles */
h2 {
  
}
