/* style for my resume */

body {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 1em;
  color: #808080;
  font-weight: 400;
}

/* my name */
#name{
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: capitalize;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
/* you don't need to sepearate these two */

/* photo of me */
img {
  /* src="IMG_6468.jpg" width="300px" */
}

/* title */
strong {
  text-transform: capitalize;
  font-size: 1.5em;
  color: #33485e;
}

/* Section titles */
.sectionheader{
  font-size: 1.5em;
  text-transform: capitalize;
  background-color: #33485e;
  color: #FFFFFF;
  font-weight: 400;
  margin: 20px 0px 10px 0px;
  width: 70%;
  min-width: 300px
}
/* just use width when she asks for width */

/* Job Titles */
#jobtitle{
  font-weight: 600;
  font-size: 1.5em;
}

/* Organization */
.Organization{
  font-weight: 400;
  font-size: 1.25em;
}

/* Job Dates */
.date{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin: 2px 0px 0px 0px
}

/* Lists */
ul {
  font-size: 1em;
}

/* all new content ahead */

.description{
  margin: 10px 0px 10px 0px;
}

.menu{
  margin: 0px;
  padding: 0px;
  text-align: center;
  list-style-type: none;
}

.menu li{
  display: inline;
}

#degrees{
  margin-top: 5px;
}

#do{
  margin-top: 5px;
}

#title{
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

#top{
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
