.story{
  margin-left: 200px;
  margin-right: 200px;
}

.byline{
  margin-left: 150px;
}

.dateline{
  margin-left: 150px;
}

.jumboimage{
  align-content: center;
}

h1{
  text-align: center;
}

.banner{
  
}
