.story{
  margin-left: 200px;
  margin-right: 200px;
}

.byline{
  margin-left: 150px;
}

.dateline{
  margin-left: 150px;
}

.headphoto{
  margin-left: 450px;
  margin-right: auto;
  max-width: 60%;
  max-height: 50%;
}

h1{
  text-align: center;
}

.banner{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
